
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  height: 100%;
  overflow-y: auto;
}

body {
  @apply bg-gray-50 min-h-screen overflow-y-auto;
}

